@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;

  margin: 0;
  font-family: "Casino", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  overflow: auto;
}
@media (max-width: 1024px) {
  body {
    display: block;
    width: 100%;
    background-color: black;
    height: 100vh;
  }
}

.background-luck {
  background: url("LuckBackground.png");
}

#canvas {
  width: 514px;
}

.skewed {
  transform: skew(-19deg);
}

.text-shadow {
  text-shadow: 0px 4px 12px #000000;
}

.spin-shadow {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
