@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;

  margin: 0;
  font-family: 'Casino', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
.background-luck {
  background: url('LuckBackground.png');
}

#canvas {
  width: 514px;
}

.skewed {
  transform: skew(-19deg);
}

.text-shadow {
  text-shadow: 0px 4px 12px #000000;
}

.spin-shadow {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* .button {
  padding: 0 25px;
  height: 60px;
  color: #fff;
  font-weight: bold;
  background: #00b98b;
  text-align: center;
  position: relative;
}
.button:hover {
  opacity: 0.8;
}
.button:before {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-bottom: 60px solid #00b98b;
  position: absolute;
  top: 0;
  left: -30px;
}
.button:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-top: 60px solid #00b98b;
  position: absolute;
  top: 0;
  right: -30px;
} */
