.history {
  position: absolute;
  top: 10px;
}

.button {
  font-size: 16px;
  display: block;
  border: none;
  background-color: #a089ec;
  color: #fff;
  margin: 20px auto 0;
  border-radius: 100%;
  &:disabled {
    background-color: #5741a1;
    color: rgba(#fff, 0.6);
  }
}
